:root {
    --primary-color: #EEF5FF;
    --secondary-color: #B4D4FF;
    --tertiary-color: #86B6F6;
    --quaternery-color: #176B87;
    --text-color: #333;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 800,
            'GRAD' 0,
            'opsz' 24;
    }
}

body {
    height: 100dvh;
}

.wrapper {
    max-width: 444px;
    height: 100%;
    /* transition: background-color 0.5s ease; */
    display: grid;
    grid-template-rows: 30% 10% 70%;
    margin-inline-start: auto;
    border: solid 1px green;
}

.display {
    /* width: 100%; */
    background: var(--primary-color);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: 'Work Sans', sans-serif;
    text-align: right;

}

.menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0;
    z-index: 999;
}

.input-display {
    height: 70%;
    position: relative;
    width: 100%;
    /* white-space: nowrap; */
    /* overflow-x: auto; */
}

.text-input-display {
    display: flex;
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    right: 1rem;
    left: 1rem;
}

.text-input-display>input {
    /* text-decoration: none; */
    outline: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
    padding: 0;
    height: fit-content;
    width: 100%;
    background-color: var(--primary-color);
    text-align: right;
    caret-color: var(--quaternery-color);
}

.text-input-display>input:focus {
    border: none;
}

.output-display {
    height: 30%;
    font-size: 28px;
    position: relative;
}

.text-ouput-display {
    position: absolute;
    bottom: 20px;
    right: 1rem;
    font-weight: 800;
}

.list>* {
    display: block;
    text-align: left;
}

.list {
    color: var(--primary-color);
    position: absolute;
    display: grid;
    background-color: var(--tertiary-color);
    border-radius: 12px;
    gap: 1rem;
    padding: 1rem;
    min-width: 8rem;
    font-size: 1rem;
    justify-items: start;
    right: 1rem;
    z-index: 100;
    transform: translateY(-50px);
    transition: transform 0.25s ease, opacity 0.5s ease;
    opacity: 1;
    /* display: none; */
    visibility: hidden;
}

.list>a {
    text-decoration: none;
    color: inherit;
}