:root {
    --primary-color: #EEF5FF;
    --secondary-color: #B4D4FF;
    --tertiary-color: #86B6F6;
    --quaternery-color: #176B87;
    --text-color: #333;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 800,
            'GRAD' 0,
            'opsz' 24;
    }
}

body {
    height: 100dvh;
}

.wrapper {
    max-width: 444px;
    height: 100%;
    /* transition: background-color 0.5s ease; */
    display: grid;
    grid-template-rows: 30% 10% 70%;
    margin-inline-start: auto;
    border: solid 1px green;
}

.display {
    /* width: 100%; */
    background: var(--primary-color);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: 'Work Sans', sans-serif;
    text-align: right;
}

.input-display {
    height: 70%;
    font-size: 60px;
    position: relative;
}

.text-input-display {
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.output-display {
    height: 30%;
    font-size: 28px;
    position: relative;
}

.text-ouput-display {
    position: absolute;
    bottom: 20px;
    right: 1rem;
}