@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

button {
    border-radius: 50%;
    font-size: 2rem;
    border: none;
    width: 5.6rem;
    height: 6rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: border-radius 0.5s ease, height 0.5s ease;
}

.first-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.first-row-op-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width: 90%;
}

.menu-overlay-button {
    background-color: var(--primary-color);
    border-radius: 50px;
}

.menu-overlay-button>img {
    transition: transform 0.5s ease;
}

.first-row-btn {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 12px;
}

.hidden-row {
    position: absolute;
    opacity: 0;
    display: none;
    transform: translateY(-50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    width: 100%;
    top: 40%;
    max-width: 444px;
}

.hidden-row-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.hidden-row-btn {
    background-color: var(--tertiary-color);
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1rem;
    width: 80%;
    padding: 1rem;
    border-radius: 16px;
    text-align: center;
    /* line-height: 2rem; */
    transition: border-radius 0.4s ease;
}

.input-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-around;
    height: fit-content;
    grid-row-gap: 0.5rem;
    transition: transform 0.5s ease;
}