@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

button {
    border-radius: 50%;
    font-size: 32px;
    border: none;
    padding: 30px;
    width: 85px;
    height: 90px;
    text-align: center;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: border-radius 0.5s ease;
}

/* .input-buttons {
    height: 65vh;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    align-items: center;
    justify-self: center;
    row-gap: 10px;
} */

.first-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.first-row-op-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width: 90%;
}

.menu-overlay-button {
    background-color: var(--primary-color);
    border-radius: 50px;
}

.menu-overlay-button>img {
    transition: transform 0.5s ease;
}

.first-row-btn {
    /* display: inline-block; */
    /* padding: 20px; */
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    border-radius: 12px;
}


.input-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-around;
    height: fit-content;
    grid-row-gap: 0.5rem;
}

.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.second-row>* {
    background-color: var(--secondary-color);
}


.num-op-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    border: 1px black solid;
}

.num-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-between;
    border: 1px black solid;
    gap: 10px;
}

.op-buttons {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}

.op-buttons>* {
    background-color: var(--secondary-color);
}