@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

.input-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: transform 0.5s ease;
  justify-content: space-between;
  justify-items: center;
  row-gap: 0.75rem;
  padding-bottom: 0.5rem;
}

.input-grid-wrapper > * {
  border-radius: 32px;
  height: 95%;
  width: 90%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  user-select: none;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  transition:
    border-radius 0.5s ease,
    height 0.5s ease;
}

.first-row {
  display: grid;
  justify-content: space-around;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.first-row-op-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: space-between;
  width: 90%;
}

.first-row-btn {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  user-select: none;
  color: var(--text-color);
}

.menu-overlay-button {
  background-color: var(--primary-color);
  border-radius: 50%;
}

.menu-overlay-button > img {
  transition: transform 0.5s ease;
  user-select: none;
}

.hidden-row {
  position: absolute;
  opacity: 0;
  display: none;
  transform: translateY(-50px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  width: 100%;
  max-width: 600px;
  top: 40%;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  z-index: -10;
}

.hidden-row-btn {
  background-color: var(--tertiary-color);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  width: 80%;
  padding: 1rem;
  border-radius: 24px;
  text-align: center;
  transition: border-radius 0.4s ease;
  user-select: none;
}

.operator {
  background-color: var(--secondary-color);
  font-size: 2.5rem;
  font-family: "Verdana", sans-serif;
} */