@mixin common-dialog {
    width: 85dvw;
    position: absolute;
    margin-top: 25dvh;
    margin-left: 7.5dvw;

    div[slot="headline"] {
        padding: 1rem;
        padding-inline-start: 1.2rem;
    }

    div[slot="actions"] {
        padding: 0.5rem;

        md-text-button {
            width: 100%;
        }
    }
}

.support-dialog {
    @include common-dialog();
    display: none;

    md-list {
        background-color: inherit;
    }

}

.theme-dialog {
    @include common-dialog();
    display: none;

    form {
        padding: 1rem;
        display: grid;
        grid-template-columns: 10% 90%;
        row-gap: 1rem;
    }
}