.display {
  width: 100%;
  position: relative;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--md-sys-color-tertiary-container);
}

.input-display-wrapper {
  position: relative;
  height: 70%;

  div {
    display: flex;
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    right: 1rem;
    left: 1rem;

    input {
      outline: none;
      color: var(--md-sys-color-tertiary);
      border: none;
      font-size: 6rem;
      padding: 0;
      height: fit-content;
      width: 100%;
      background-color: inherit;
      text-align: right;
      caret-color: var(--md-sys-color-secondary);
      font-family: inherit;
      transition: font-size 0.5s ease;
    }

    input:focus {
      border: none;
    }
  }
}

.output-display-wrapper {
  height: 30%;
  font-size: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;

  div {
    position: absolute;
    right: 1rem;
    text-align: right;
    max-width: 22rem;
    overflow-x: hidden;
    color: var(--md-sys-color-tertiary);
  }
}