.first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    align-items: center;
    transition: opacity 0.5s ease, filter 0.5s ease;

    div {
        transition: transform 0.5s ease;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding-right: 0.5rem;

        md-text-button {
            font-size: 1.5rem;
            width: 100%;
        }
    }

    md-filled-tonal-icon-button {
        transition: transform 0.5s ease;
    }
}