.hidden-ops {
    position: absolute;
    top: 100dvh*0.35;
    bottom: 100dvh*0.55;
    right: 0;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-items: center;
    align-items: center;
    transform: translateX(100dvw*0.85);
    transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    display: none;

    >* {
        min-width: fit-content;
        padding-inline: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        @media screen and (max-width: 376px) {
            padding-inline: 1.5rem;
        }
    }

    @media screen and (max-width: 376px) {
        left: 14dvw;
        padding-top: 0.5rem;
    }
}