.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 0.25rem;

    * {
        height: 100%;
        font-size: 1.7rem;
    }
}