$baseWidth: 100dvw;

.menu {
    position: absolute;
    z-index: 20;
    width: 70%;
    background-color: var(--md-sys-color-surface-container-highest);
    color: var(--md-sys-color-on-surface);
    left: 0;
    height: 99dvh;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    visibility: hidden;
    transform: translateX(-$baseWidth*0.7);
    transition: translateX 0.5s ease;
}

.info {
    height: 20%;
    display: flex;
    padding: 2rem;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    >img {
        width: 5rem;
        height: 5rem;
    }
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.release {
    font-size: 1rem;
}

.list {
    position: relative;
    height: 80%;

    md-list {
        max-width: 100%;
        background-color: inherit;
    }

    div {
        position: absolute;
        bottom: 1rem;
        left: 4rem;
    }
}