.overlay-container {
    position: absolute;
    z-index: 5;
    width: 100%;

    .gradient {
        position: absolute;
        z-index: inherit;
        background-image: linear-gradient(to bottom, transparent 0%, #1e4d4d 55%, #1e4d4d 100%);
        width: 100%;
        height: 100%;

    }

    img {
        width: 100%;
        position: relative;
        object-fit: cover;
        display: inline-block;

    }
}